-#%form#form_id
  .container_12
    .grid_12{:style => "text-align:center; margin-bottom: 50px;"}
      %a#admin_mode
        = "Click here to show/hide configuration mode"
    .clear
    .grid_4
      %span
        %input#customer
        %label Customer
      .clear
      %span
        %input#location
        %label Location
      .clear
      %span
        %input#shipment_num
        %label "Shipment #"
      %br

    .grid_4
      %span
        %input#weight
        %label Weight
      .clear
      %span
        %input#total_price
        %label Total pieces
      .clear
      %span
        %input#bill_to
        %label Bill to
      .clear

    .grid_4
      %span
        %input#equipment
        %label Equipment
      .clear
      %span
        %select#commodity
        %label Commodity
      .clear
      %span
        %input#booked.checkbox{type: "checkbox"}
        %label Booked
      .clear
    .clear


-#.conf_panel
  = "R"
  %input{type: "checkbox"}
  = "W"
  %input{type: "checkbox"}
